.list-item {
  height: 150px !important;
  position: relative;
  margin-bottom: 10px;
  h2 {
    z-index: 100;
    color: white;
    font-size: 20px;
  }
}

.background-image {
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  filter: brightness(50%)
}
